@font-face {
  font-family: 'stagsans-light';
  src: url('../assets/fonts/StagSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'stagsans-regular';
  src: url('../assets/fonts/StagSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'stagsans-medium';
  src: url('../assets/fonts/StagSans-Medium.ttf') format('truetype');
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.hide {
  display: none;
}

body {
  font-family: 'stagsans-light';
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0px;
}

.common-padding {
  padding: 0px 160px;
}

@media only screen and (max-width: 1200px) {
  .common-padding {
    padding: 0px 80px;
  }
}

@media only screen and (max-width: 991px) {
  .common-padding {
    padding: 0px 60px;
  }
}

@media only screen and (max-width: 767px) {
  .common-padding {
    padding: 0px 30px;
  }
}

.common-heading {
  padding-bottom: 35px;
}

@media only screen and (max-width: 767px) {
  .common-heading {
    padding-bottom: 20px;
  }
}

.common-heading h2 {
  line-height: 44px;
  color: #22b78e;
  font-size: 31px;
  letter-spacing: 1.28px;
  font-family: 'stagsans-medium';
}

@media only screen and (max-width: 991px) {
  .common-heading h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.common-heading label {
  padding-top: 20px;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .common-heading label {
    width: 100%;
  }
}

.slick-arrow {
  position: absolute;
  right: 0px;
  top: -140px;
  cursor: pointer;
  z-index: 99;
}

.slick-left.slick-arrow {
  right: 30px;
}

.red-btn {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 14px 0px;
  width: 186px;
  text-align: center;
  background-color: #dd5a6a;
  font-size: 14px;
  line-height: 17px;
  font-family: 'stagsans-medium';
}

.red-btn.blue {
  background-color: #004498;
}

.red-btn.blue:hover {
  background-color: #004498;
}

.red-btn.gradient {
  width: 130px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2ec4b8),
    to(#6078ea)
  );
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  border-radius: 4px;
}

.red-btn:hover {
  background-color: #dd5a6a;
  color: #fff;
}

.red-btn.gradient:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2ec4b8),
    to(#6078ea)
  );
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  color: #fff;
}

.custom-input {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 2px;
  padding: 16px;
  border: 0.87px solid #d0d0d0;
  font-size: 12.22px;
  line-height: 15px;
  height: 42px;
}

.form-control:focus {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.banner {
  background-image: url(../assets/images/banner.png);
  height: 540px;
}

@media only screen and (max-width: 991px) {
  .banner {
    height: auto;
  }
}

.banner__section {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .banner__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.banner__section__left {
  padding-top: 20px;
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .banner__section__left {
    padding-top: 0px;
    width: 100%;
  }
}

.banner__section__left--text {
  margin-top: 40px;
}

@media only screen and (max-width: 991px) {
  .banner__section__left--text {
    margin-top: 20px;
  }
}

.banner__section__left--text h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 31px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .banner__section__left--text h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.banner__section__left--text label {
  font-size: 25px;
  color: #ffffff;
  line-height: 34px;
  font-weight: 100;
  padding-bottom: 20px;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .banner__section__left--text label {
    font-size: 18px;
  }
}

.banner__section__right {
  padding: 30px;
  width: 340px;
  -webkit-box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
  box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
  background-color: #fff;
}

@media only screen and (max-width: 991px) {
  .banner__section__right {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
  }
}

.banner__section__right h2 {
  font-size: 20px;
  line-height: 24px;
  color: #213559;
  font-family: 'stagsans-medium';
  padding-bottom: 30px;
}

.banner__section__right .submit-btn {
  margin-top: 20px;
}

.banner__section__right .submit-btn .red-btn {
  width: 110px;
}

.description {
  padding: 60px 0px;
}

@media only screen and (max-width: 991px) {
  .description {
    padding: 40px 0px;
  }
}

.description__section--img img {
  width: 100%;
}

.description__section--text {
  width: 92%;
}

@media only screen and (max-width: 1200px) {
  .description__section--text {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .description__section--text {
    margin-top: 30px;
  }
}

.description__section--text--top {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2ec4b8),
    to(#6078ea)
  );
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  padding: 18px 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .description__section--text--top {
    margin-bottom: 30px;
  }
}

.description__section--text--top p {
  font-size: 18px;
  line-height: 26px;
  font-family: 'stagsans-medium';
  color: #fff;
}

.description__section--text--content {
  border-top: 1px solid #ececff;
  padding-top: 22px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .description__section--text--content {
    padding: 15px 0px;
  }
}

.description__section--text--content p {
  font-size: 17px;
  line-height: 20px;
  color: #000;
}

.description__section--text--content:nth-child(2) {
  border-top: 0px;
}

.doctor {
  padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .doctor {
    padding-bottom: 40px;
  }
}

.doctor__section--card {
  background-color: #f9f9ff;
  border-radius: 4px;
  padding: 30px 50px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .doctor__section--card {
    padding: 20px;
  }
}

.doctor__section--card h2 {
  font-size: 24px;
  line-height: 44px;
  color: #22b78e;
  font-family: 'stagsans-medium';
  padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .doctor__section--card h2 {
    font-size: 20px;
    padding-bottom: 15px;
  }
}

.doctor__section--card h3 {
  font-size: 22px;
  color: #1d5aa6;
  letter-spacing: 1.76px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 8px;
  font-family: 'stagsans-medium';
}

@media only screen and (max-width: 767px) {
  .doctor__section--card h3 {
    font-size: 18px;
  }
}

.doctor__section--card label {
  font-size: 15px;
  letter-spacing: 1.2px;
  color: #1d5aa6;
}

@media only screen and (max-width: 767px) {
  .doctor__section--card label {
    font-size: 12px;
  }
}

.doctor__section--card p {
  font-size: 15px;
  line-height: 20px;
  color: #000;
  padding-bottom: 30px;
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  .doctor__section--card p {
    font-size: 12px;
  }
}

.doctor__section--card--details {
  padding-bottom: 36px;
  border-bottom: 1px solid #ececff;
}

@media only screen and (max-width: 767px) {
  .doctor__section--card--details img {
    width: 100%;
  }
}

.doctor__section--wrapper div:nth-child(3) .doctor__section--card h2 {
  display: none;
}

.doctor__section--wrapper div:nth-child(4) .doctor__section--card h2 {
  display: none;
}

.questions {
  padding-bottom: 50px;
}

.questions__section ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__section ul li span {
  margin-top: 5px;
}

@media only screen and (max-width: 991px) {
  .questions__section ul li span {
    margin-top: 0px;
  }
}

.questions__section ul li label {
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 39px;
}

@media only screen and (max-width: 991px) {
  .questions__section ul li label {
    line-height: 24px;
  }
}

.immune {
  padding-bottom: 70px;
}

.immune__section--card {
  padding: 24px;
  border: 1px solid #e5eaff;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
  box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
  margin-bottom: 30px;
  min-height: 170px;
}

@media only screen and (max-width: 1200px) {
  .immune__section--card {
    padding: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .immune__section--card {
    min-height: 186px;
  }
}

@media only screen and (max-width: 767px) {
  .immune__section--card {
    min-height: auto;
  }
}

.immune__section--card p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.faq {
  padding-bottom: 70px;
}

@media only screen and (max-width: 991px) {
  .faq {
    padding-bottom: 40px;
  }
}

.faq__section .panel-heading {
  cursor: pointer;
}

.faq__section .panel-heading ul li {
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid #ececff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.faq__section .panel-heading ul li label {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: 22px;
  color: #1d5aa6;
  font-family: 'stagsans-medium';
}

@media only screen and (max-width: 991px) {
  .faq__section .panel-heading ul li label {
    font-size: 16px;
  }
}

.faq__section .panel-heading ul li .plus {
  position: absolute;
  background: #fff;
  z-index: 9;
  right: 0px;
  height: 40px;
}

@media only screen and (max-width: 767px) {
  .faq__section .panel-heading ul li .plus {
    height: 60px;
  }
}

@media only screen and (max-width: 320px) {
  .faq__section .panel-heading ul li .plus {
    height: 81px;
  }
}

.faq__section .panel-collapse ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.faq__section .panel-collapse ul li span {
  margin-right: 10px;
}

.faq__section .panel-collapse ul li label {
  font-size: 14px;
  line-height: 30px;
  color: #000;
}

.faq__section .panel-collapse ul li:last-child {
  margin-bottom: 20px;
}

.faq__section .minus {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.testimonial {
  padding-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .testimonial {
    padding-bottom: 40px;
  }
}

.testimonial__section__card {
  padding: 45px;
  border-radius: 4px;
  -webkit-box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
  margin: 20px;
}

@media only screen and (max-width: 991px) {
  .testimonial__section__card {
    padding: 20px;
  }
}

.testimonial__section__card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial__section__card__top h2 {
  font-size: 22px;
  line-height: 26px;
  color: #000;
}

@media only screen and (max-width: 991px) {
  .testimonial__section__card__top h2 {
    font-size: 18px;
  }
}

.testimonial__section__card__top label {
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.testimonial__section__card__top img {
  margin-right: 20px;
}

.testimonial__section__card p {
  padding-top: 20px;
  font-size: 15px;
  font-style: italic;
  line-height: 21px;
}

.testimonial__section--btn {
  padding-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .testimonial__section--btn {
    padding-top: 30px;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #272727;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__section--icon {
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__section--icon ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer__section--icon ul li:last-child {
  margin-right: 0px;
}

.footer__section--icon ul li a {
  cursor: pointer;
}

.footer__section--text {
  padding-top: 20px;
}

.footer__section--text p {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  letter-spacing: 1.12px;
}
/*# sourceMappingURL=style.css.map */
