// Fonts
@font-face {
  font-family: 'stagsans-light';
  src: url('../assets/fonts/StagSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'stagsans-regular';
  src: url('../assets/fonts/StagSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'stagsans-medium';
  src: url('../assets/fonts/StagSans-Medium.ttf') format('truetype');
}
// common css
a {
  text-decoration: none !important;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.hide {
  display: none;
}
body {
  font-family: 'stagsans-light';
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0px;
}
// colors
$red-color: #dd5a6a;

.common-padding {
  padding: 0px 160px;
  @media only screen and (max-width: 1200px) {
    padding: 0px 80px;
  }
  @media only screen and (max-width: 991px) {
    padding: 0px 60px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0px 30px;
  }
}
.common-heading {
  padding-bottom: 35px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
  h2 {
    line-height: 44px;
    color: #22b78e;
    font-size: 31px;
    letter-spacing: 1.28px;
    font-family: 'stagsans-medium';
    @media only screen and (max-width: 991px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  label {
    padding-top: 20px;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    width: 50%;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
// slick
.slick-arrow {
  position: absolute;
  right: 0px;
  top: -140px;
  cursor: pointer;
  z-index: 99;
}
.slick-left.slick-arrow {
  right: 30px;
}
// button
.red-btn {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 14px 0px;
  width: 186px;
  text-align: center;
  background-color: $red-color;
  font-size: 14px;
  line-height: 17px;
  font-family: 'stagsans-medium';
}
.red-btn.blue {
  background-color: #004498;
}
.red-btn.blue:hover {
  background-color: #004498;
}
.red-btn.gradient {
  width: 130px;
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  border-radius: 4px;
}
.red-btn:hover {
  background-color: $red-color;
  color: #fff;
}
.red-btn.gradient:hover {
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  color: #fff;
}
// input
.custom-input {
  margin-bottom: 10px;
}
.form-control {
  border-radius: 2px;
  padding: 16px;
  border: 0.87px solid #d0d0d0;
  font-size: 12.22px;
  line-height: 15px;
  height: 42px;
}
.form-control:focus {
  outline: 0px !important;
  box-shadow: none !important;
}

// banner
.banner {
  background-image: url(../assets/images/banner.png);
  height: 540px;
  @media only screen and (max-width: 991px) {
    height: auto;
  }
  &__section {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
    &__left {
      padding-top: 20px;
      width: 50%;
      @media only screen and (max-width: 991px) {
        padding-top: 0px;
        width: 100%;
      }

      &--text {
        margin-top: 40px;
        @media only screen and (max-width: 991px) {
          margin-top: 20px;
        }
        h2 {
          font-family: 'Titillium Web', sans-serif;
          font-size: 31px;
          line-height: 40px;
          color: #ffffff;
          font-weight: 600;
          padding-bottom: 10px;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
        label {
          font-size: 25px;
          color: #ffffff;
          line-height: 34px;
          font-weight: 100;
          padding-bottom: 20px;
          display: block;
          @media only screen and (max-width: 1200px) {
            font-size: 18px;
          }
        }
      }
    }
    &__right {
      padding: 30px;
      width: 340px;
      box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
      background-color: #fff;
      @media only screen and (max-width: 991px) {
        width: 100%;
        padding: 20px;
        margin-top: 30px;
      }
      h2 {
        font-size: 20px;
        line-height: 24px;
        color: #213559;
        font-family: 'stagsans-medium';
        padding-bottom: 30px;
      }
      .submit-btn {
        margin-top: 20px;
        .red-btn {
          width: 110px;
        }
      }
    }
  }
}
// descsription
.description {
  padding: 60px 0px;
  @media only screen and (max-width: 991px) {
    padding: 40px 0px;
  }
  &__section {
    &--img {
      img {
        width: 100%;
      }
    }
    &--text {
      width: 92%;
      @media only screen and (max-width: 1200px) {
        width: 100%;
      }
      @media only screen and (max-width: 991px) {
        margin-top: 30px;
      }
      &--top {
        background-image: linear-gradient(to right, #2ec4b8, #6078ea);
        padding: 18px 25px;
        margin-bottom: 50px;
        @media only screen and (max-width: 1200px) {
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          line-height: 26px;
          font-family: 'stagsans-medium';
          color: #fff;
        }
      }
      &--content {
        border-top: 1px solid #ececff;
        padding-top: 22px;
        padding-bottom: 30px;
        @media only screen and (max-width: 1200px) {
          padding: 15px 0px;
        }

        p {
          font-size: 17px;
          line-height: 20px;
          color: #000;
        }
        &:nth-child(2) {
          border-top: 0px;
        }
      }
    }
  }
}
// doctor
.doctor {
  padding-bottom: 100px;
  @media only screen and (max-width: 991px) {
    padding-bottom: 40px;
  }
  &__section {
    &--card {
      background-color: #f9f9ff;
      border-radius: 4px;
      padding: 30px 50px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        padding: 20px;
      }
      h2 {
        font-size: 24px;
        line-height: 44px;
        color: #22b78e;
        font-family: 'stagsans-medium';
        padding-bottom: 24px;
        @media only screen and (max-width: 767px) {
          font-size: 20px;
          padding-bottom: 15px;
        }
      }
      h3 {
        font-size: 22px;
        color: #1d5aa6;
        letter-spacing: 1.76px;
        line-height: 26px;
        padding-top: 30px;
        padding-bottom: 8px;
        font-family: 'stagsans-medium';
        @media only screen and (max-width: 767px) {
          font-size: 18px;
        }
      }
      label {
        font-size: 15px;
        letter-spacing: 1.2px;
        color: #1d5aa6;
        @media only screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
      p {
        font-size: 15px;
        line-height: 20px;
        color: #000;
        padding-bottom: 30px;
        padding-top: 10px;
        @media only screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
      &--details {
        padding-bottom: 36px;
        border-bottom: 1px solid #ececff;
        img {
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
    &--wrapper {
      div:nth-child(3) .doctor__section--card h2 {
        display: none;
      }
      div:nth-child(4) .doctor__section--card h2 {
        display: none;
      }
    }
  }
}
// questions
.questions {
  padding-bottom: 50px;
  &__section {
    ul {
      li {
        margin-bottom: 10px;
        display: flex;
        span {
          margin-top: 5px;
          @media only screen and (max-width: 991px) {
            margin-top: 0px;
          }
        }
        label {
          margin-left: 10px;
          display: inline-block;
          font-size: 14px;
          line-height: 39px;
          @media only screen and (max-width: 991px) {
            line-height: 24px;
          }
        }
      }
    }
  }
}
// immune
.immune {
  padding-bottom: 70px;
  &__section {
    &--card {
      padding: 24px;
      border: 1px solid #e5eaff;
      border-radius: 4px;
      box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
      margin-bottom: 30px;
      min-height: 170px;
      @media only screen and (max-width: 1200px) {
        padding: 15px;
      }
      @media only screen and (max-width: 991px) {
        min-height: 186px;
      }
      @media only screen and (max-width: 767px) {
        min-height: auto;
      }
      p {
        padding-top: 10px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
      }
    }
  }
}
// faq
.faq {
  padding-bottom: 70px;
  @media only screen and (max-width: 991px) {
    padding-bottom: 40px;
  }
  &__section {
    .panel-heading {
      cursor: pointer;
      ul {
        li {
          position: relative;
          padding-bottom: 18px;
          border-bottom: 1px solid #ececff;
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          label {
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 1.6px;
            line-height: 22px;
            color: #1d5aa6;
            font-family: 'stagsans-medium';
            @media only screen and (max-width: 991px) {
              font-size: 16px;
            }
          }
          .plus {
            position: absolute;
            background: #fff;
            z-index: 9;
            right: 0px;
            height: 40px;
            @media only screen and (max-width: 767px) {
              height: 60px;
            }
            @media only screen and (max-width: 320px) {
              height: 81px;
            }
          }
        }
      }
    }
    .panel-collapse {
      ul {
        li {
          display: flex;
          margin-bottom: 10px;
          span {
            margin-right: 10px;
          }
          label {
            font-size: 14px;
            line-height: 30px;
            color: #000;
          }
          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
    .minus {
      transform: rotate(180deg);
    }
  }
}
// testimonial
.testimonial {
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
  &__section {
    &__card {
      padding: 45px;
      border-radius: 4px;
      box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
      margin: 20px;
      @media only screen and (max-width: 991px) {
        padding: 20px;
      }
      &__top {
        display: flex;
        align-items: center;
        h2 {
          font-size: 22px;
          line-height: 26px;
          color: #000;
          @media only screen and (max-width: 991px) {
            font-size: 18px;
          }
        }
        label {
          font-size: 14px;
          line-height: 17px;
          color: #000;
        }
        img {
          margin-right: 20px;
        }
      }
      p {
        padding-top: 20px;
        font-size: 15px;
        font-style: italic;
        line-height: 21px;
      }
    }
    &--btn {
      padding-top: 60px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        padding-top: 30px;
      }
    }
  }
}

// footer
.footer {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #272727;
  text-align: center;

  @media only screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__section {
    &--icon {
      padding-bottom: 28px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
          &:last-child {
            margin-right: 0px;
          }
          a {
            cursor: pointer;
          }
        }
      }
    }
    &--text {
      padding-top: 20px;
      p {
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        letter-spacing: 1.12px;
      }
    }
  }
}
